<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.cavy.manage.mapper.UserMenuMapper">
  <resultMap id="BaseResultMap" type="com.jh.cavy.manage.domain.UserMenu">
    <!--@mbg.generated-->
    <!--@Table t_sys_user_menu-->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="menu_id" jdbcType="INTEGER" property="menuId" />
    <result column="addTime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="addUser" jdbcType="VARCHAR" property="adduser" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="updateUser" jdbcType="VARCHAR" property="updateuser" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, menu_id, addTime, addUser, updateTime, updateUser
  </sql>
  <insert id="insert" parameterType="com.jh.cavy.manage.domain.UserMenu">
    <!--@mbg.generated-->
    insert into t_sys_user_menu (id, user_id, menu_id, 
      addTime, addUser, updateTime, 
      updateUser)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{menuId,jdbcType=INTEGER}, 
      #{addtime,jdbcType=TIMESTAMP}, #{adduser,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{updateuser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jh.cavy.manage.domain.UserMenu">
    <!--@mbg.generated-->
    insert into t_sys_user_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="menuId != null">
        menu_id,
      </if>
      <if test="addtime != null">
        addTime,
      </if>
      <if test="adduser != null">
        addUser,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
      <if test="updateuser != null">
        updateUser,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="menuId != null">
        #{menuId,jdbcType=INTEGER},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="adduser != null">
        #{adduser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null">
        #{updateuser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>