<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.cavy.manage.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.jh.cavy.manage.domain.User">
        <!--@mbg.generated-->
        <!--@Table t_sys_user-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="real_name" jdbcType="VARCHAR" property="realName"/>
        <result column="gender" jdbcType="INTEGER" property="gender"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="addTime" jdbcType="TIMESTAMP" property="addtime"/>
        <result column="addUser" jdbcType="VARCHAR" property="adduser"/>
        <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime"/>
        <result column="updateUser" jdbcType="VARCHAR" property="updateuser"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, user_name, `password`, real_name, gender, phone, email, addTime, addUser, updateTime,
        updateUser
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from t_sys_user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete
        from t_sys_user
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.jh.cavy.manage.domain.User"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into t_sys_user (user_name, `password`, real_name,
                                gender, phone, email,
                                addTime, addUser, updateTime,
                                updateUser)
        values (#{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR},
                #{gender,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
                #{addtime,jdbcType=TIMESTAMP}, #{adduser,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP},
                #{updateuser,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.jh.cavy.manage.domain.User"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into t_sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName != null">
                user_name,
            </if>
            <if test="password != null">
                `password`,
            </if>
            <if test="realName != null">
                real_name,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="addtime != null">
                addTime,
            </if>
            <if test="adduser != null">
                addUser,
            </if>
            <if test="updatetime != null">
                updateTime,
            </if>
            <if test="updateuser != null">
                updateUser,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="realName != null">
                #{realName,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=INTEGER},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="addtime != null">
                #{addtime,jdbcType=TIMESTAMP},
            </if>
            <if test="adduser != null">
                #{adduser,jdbcType=VARCHAR},
            </if>
            <if test="updatetime != null">
                #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateuser != null">
                #{updateuser,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jh.cavy.manage.domain.User">
        <!--@mbg.generated-->
        update t_sys_user
        <set>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                `password` = #{password,jdbcType=VARCHAR},
            </if>
            <if test="realName != null">
                real_name = #{realName,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=INTEGER},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="addtime != null">
                addTime = #{addtime,jdbcType=TIMESTAMP},
            </if>
            <if test="adduser != null">
                addUser = #{adduser,jdbcType=VARCHAR},
            </if>
            <if test="updatetime != null">
                updateTime = #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateuser != null">
                updateUser = #{updateuser,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jh.cavy.manage.domain.User">
        <!--@mbg.generated-->
        update t_sys_user
        set user_name  = #{userName,jdbcType=VARCHAR},
            `password` = #{password,jdbcType=VARCHAR},
            real_name  = #{realName,jdbcType=VARCHAR},
            gender     = #{gender,jdbcType=INTEGER},
            phone      = #{phone,jdbcType=VARCHAR},
            email      = #{email,jdbcType=VARCHAR},
            addTime    = #{addtime,jdbcType=TIMESTAMP},
            addUser    = #{adduser,jdbcType=VARCHAR},
            updateTime = #{updatetime,jdbcType=TIMESTAMP},
            updateUser = #{updateuser,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="findByPage" resultType="com.jh.cavy.manage.vo.UserVO">
        select id,
               user_name,
               `password`,
               real_name,
               gender,
               phone,
               email,
               addTime,
               addUser,
               updateTime,
               updateUser
        from t_sys_user ${ew.customSqlSegment}
    </select>
</mapper>