<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.cavyfile.minio.mapper.FileMapper">
  <resultMap id="BaseResultMap" type="com.jh.cavyfile.minio.domain.File">
    <!--@mbg.generated-->
    <!--@Table t_sys_file-->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="file_code" jdbcType="VARCHAR" property="fileCode" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="file_path" jdbcType="VARCHAR" property="filePath" />
    <result column="web_url" jdbcType="VARCHAR" property="webUrl" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, file_code, file_name, file_path, web_url
  </sql>
  <insert id="insert" parameterType="com.jh.cavyfile.minio.domain.File">
    <!--@mbg.generated-->
    insert into t_sys_file (id, file_code, file_name, 
      file_path, web_url)
    values (#{id,jdbcType=INTEGER}, #{fileCode,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR}, 
      #{filePath,jdbcType=VARCHAR}, #{webUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jh.cavyfile.minio.domain.File">
    <!--@mbg.generated-->
    insert into t_sys_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="fileCode != null">
        file_code,
      </if>
      <if test="fileName != null">
        file_name,
      </if>
      <if test="filePath != null">
        file_path,
      </if>
      <if test="webUrl != null">
        web_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fileCode != null">
        #{fileCode,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null">
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="webUrl != null">
        #{webUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>