<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.cavy.favour.mapper.FavourRecordMapper">

    <resultMap id="BaseResultMap" type="com.jh.cavy.favour.domain.FavourRecord">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="currentUserId" column="current_user_id" jdbcType="INTEGER"/>
        <result property="relateUserId" column="relate_user_id" jdbcType="INTEGER"/>
        <result property="tradeType" column="trade_type" jdbcType="CHAR"/>
        <result property="bussType" column="buss_type" jdbcType="CHAR"/>
        <result property="amt" column="amt" jdbcType="DECIMAL"/>
        <result property="addTime" column="add_time" jdbcType="TIMESTAMP"/>
        <result property="addUser" column="add_user" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="recordAndGift">
        select *
        from (select a.id,
                     a.current_user_id,
                     a.relate_user_id,
                     a.trade_type,
                     a.buss_type,
                     a.amt,
                     a.add_time,
                     a.add_user,
                     a.update_time,
                     a.update_user,
                     b.real_name relate_user_name,
                     c.real_name current_user_name,
                     d.label     buss_type_name,
                     e.label     trade_type_name,
                     'record'    source
              from t_bus_favour_record a
                       left join t_bus_favour_relative b on b.id = a.relate_user_id and b.user_id = a.current_user_id
                       left join t_sys_user c on a.current_user_id = c.id
                       left join (select item, label from t_sys_dict_item where dic_id = '17') d on d.item = a.buss_type
                       left join (select item, label from t_sys_dict_item where dic_id = '16') e
                                 on e.item = a.trade_type

              union all

              select b.id,
                     a.current_user_id,
                     b.relate_user_id,
                     '0'                            trade_type,
                     ''
                                                    buss_type,
                     b.amt,
                     b.add_time,
                     b.add_user,
                     b.update_time,
                     b.update_time,
                     d.real_name                    relate_user_name,
                     c.real_name
                                                    current_user_name,
                     COALESCE(e.label, a.buss_name) buss_type_name,
                     '收入'                         trade_type_name,
                     'gift'                         source
              from t_bus_favour_book a
                       right join t_bus_favour_book_gift b on a.id = b.favour_book_id
                       left join t_bus_favour_relative d on d.id = b.relate_user_id and d.user_id = a.current_user_id
                       left join t_sys_user c on a.current_user_id = c.id
                       left join (select item, label from t_sys_dict_item where dic_id = '17') e
                                 on e.item = a.buss_type) t
    </sql>

    <sql id="Base_Column_List">
        id,current_user_id,relate_user_id,
        trade_type,buss_type,amt,
        add_time,add_user,update_time,
        update_user
    </sql>
    <select id="inoutPage" resultType="com.jh.cavy.favour.vo.FavourInoutPageVO">
        <include refid="recordAndGift"/>
        <if test="true">
            ${ew.customSqlSegment}
        </if>
    </select>
    <select id="inoutHead" resultType="com.jh.cavy.favour.domain.FavourRecord">
        <include refid="recordAndGift"/>
        <if test="true">
            ${ew.customSqlSegment}
        </if>
    </select>
</mapper>
