<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.cavy.favour.mapper.FavourRecordMapper">

    <resultMap id="BaseResultMap" type="com.jh.cavy.favour.domain.FavourRecord">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="currentUserId" column="current_user_id" jdbcType="INTEGER"/>
            <result property="relateUserId" column="relate_user_id" jdbcType="INTEGER"/>
            <result property="tradeType" column="trade_type" jdbcType="CHAR"/>
            <result property="bussType" column="buss_type" jdbcType="CHAR"/>
            <result property="amt" column="amt" jdbcType="DECIMAL"/>
            <result property="addTime" column="add_time" jdbcType="TIMESTAMP"/>
            <result property="addUser" column="add_user" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,current_user_id,relate_user_id,
        trade_type,buss_type,amt,
        add_time,add_user,update_time,
        update_user
    </sql>
    <select id="inoutPage" resultType="com.jh.cavy.favour.vo.FavourInoutPageVO">
        select a.*,
               b.real_name  relate_user_name ,
               c.real_name  current_user_name ,
               d.label  buss_type_name,
               e.label  trade_type_name
        from t_bus_favour_record a
            left join  t_bus_favour_relative  b on b.id=a.relate_user_id and  b.user_id=a.current_user_id
            left join t_sys_user c on a.current_user_id=c.id
            left join (select item,label from t_sys_dict_item where dic_id='17' ) d on d.item=a.buss_type
            left join (select item,label from t_sys_dict_item where dic_id='16' ) e on e.item=a.trade_type
        <if test="true">
            ${ew.customSqlSegment}
        </if>
    </select>
</mapper>
