<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.cavy.favour.mapper.FavourRecordMapper">

    <resultMap id="BaseResultMap" type="com.jh.cavy.favour.domain.FavourRecord">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="currentUserId" column="current_user_id" jdbcType="INTEGER"/>
        <result property="relateUserId" column="relate_user_id" jdbcType="INTEGER"/>
        <result property="tradeType" column="trade_type" jdbcType="CHAR"/>
        <result property="bussType" column="buss_type" jdbcType="CHAR"/>
        <result property="amt" column="amt" jdbcType="DECIMAL"/>
        <result property="addTime" column="add_time" jdbcType="TIMESTAMP"/>
        <result property="addUser" column="add_user" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="recordAndGift">
        SELECT *
        FROM (SELECT a.id,
                     a.current_user_id,
                     a.relate_user_id,
                     a.trade_type,
                     a.buss_type,
                     a.amt,
                     a.add_time,
                     a.add_user,
                     a.update_time,
                     a.update_user,
                     b.real_name AS relate_user_name,
                     c.real_name AS current_user_name,
                     d.label     AS buss_type_name,
                     e.label     AS trade_type_name,
                     'record'    AS source
              FROM t_bus_favour_record a
                       LEFT JOIN t_bus_favour_relative b ON b.id = a.relate_user_id AND b.user_id = a.current_user_id
                       LEFT JOIN t_sys_user c ON a.current_user_id = c.id
                       LEFT JOIN t_sys_dict_item d ON d.item = a.buss_type AND d.dic_id = '17'
                       LEFT JOIN t_sys_dict_item e ON e.item = a.trade_type AND e.dic_id = '16'

              UNION ALL

              SELECT b.id,
                     a.current_user_id,
                     b.relate_user_id,
                     '0'                            AS trade_type,
                     ''                             AS buss_type,
                     b.amt,
                     b.add_time,
                     b.add_user,
                     b.update_time,
                     b.update_time,
                     d.real_name                    AS relate_user_name,
                     c.real_name                    AS current_user_name,
                     COALESCE(e.label, a.buss_name) AS buss_type_name,
                     '收入'                         AS trade_type_name,
                     'gift'                         AS source
              FROM t_bus_favour_book a
                       RIGHT JOIN t_bus_favour_book_gift b ON a.id = b.favour_book_id
                       LEFT JOIN t_bus_favour_relative d ON d.id = b.relate_user_id AND d.user_id = a.current_user_id
                       LEFT JOIN t_sys_user c ON a.current_user_id = c.id
                       LEFT JOIN t_sys_dict_item e ON e.item = a.buss_type AND e.dic_id = '17') t
    </sql>

    <sql id="Base_Column_List">
        id,current_user_id,relate_user_id,
        trade_type,buss_type,amt,
        add_time,add_user,update_time,
        update_user
    </sql>
    <select id="inoutPage" resultType="com.jh.cavy.favour.vo.FavourInoutPageVO">
        <include refid="recordAndGift"/>
        <if test="true">
            ${ew.customSqlSegment}
        </if>
    </select>
    <select id="inoutHead" resultType="com.jh.cavy.favour.domain.FavourRecord">
        <include refid="recordAndGift"/>
        <if test="true">
            ${ew.customSqlSegment}
        </if>
    </select>
</mapper>
