<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.cavy.task.mapper.TaskMapper">
  <resultMap id="BaseResultMap" type="com.jh.cavy.task.domain.Task">
    <!--@mbg.generated-->
    <!--@Table t_sys_task-->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="cron_expression" jdbcType="VARCHAR" property="cronExpression" />
    <result column="method_name" jdbcType="VARCHAR" property="methodName" />
    <result column="is_concurrent" jdbcType="INTEGER" property="isConcurrent" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="bean_name" jdbcType="VARCHAR" property="beanName" />
    <result column="trigger_name" jdbcType="VARCHAR" property="triggerName" />
    <result column="job_status" jdbcType="INTEGER" property="jobStatus" />
    <result column="spring_bean" jdbcType="VARCHAR" property="springBean" />
    <result column="job_name" jdbcType="VARCHAR" property="jobName" />
    <result column="add_user" jdbcType="VARCHAR" property="addUser" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, cron_expression, method_name, is_concurrent, description, bean_name, `trigger_name`,
    job_status, spring_bean, job_name, add_user, add_time, update_user, update_time
  </sql>
  <insert id="insert" parameterType="com.jh.cavy.task.domain.Task">
    <!--@mbg.generated-->
    insert into t_sys_task (id, cron_expression, method_name,
      is_concurrent, description, bean_name, 
      `trigger_name`, job_status, spring_bean, 
      job_name, add_user, add_time, update_user, update_time)
    values (#{id,jdbcType=INTEGER}, #{cronExpression,jdbcType=VARCHAR}, #{methodName,jdbcType=VARCHAR},
      #{isConcurrent,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{beanName,jdbcType=VARCHAR}, 
      #{triggerName,jdbcType=VARCHAR}, #{jobStatus,jdbcType=INTEGER}, #{springBean,jdbcType=VARCHAR}, 
      #{jobName,jdbcType=VARCHAR}, #{addUser,jdbcType=VARCHAR},
    #{addTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jh.cavy.task.domain.Task">
    <!--@mbg.generated-->
    insert into t_sys_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cronExpression != null">
        cron_expression,
      </if>
      <if test="methodName != null">
        method_name,
      </if>
      <if test="isConcurrent != null">
        is_concurrent,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="beanName != null">
        bean_name,
      </if>
      <if test="triggerName != null">
        `trigger_name`,
      </if>
      <if test="jobStatus != null">
        job_status,
      </if>
      <if test="springBean != null">
        spring_bean,
      </if>
      <if test="jobName != null">
        job_name,
      </if>
      <if test="addUser != null">
        add_user,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cronExpression != null">
        #{cronExpression,jdbcType=VARCHAR},
      </if>
      <if test="methodName != null">
        #{methodName,jdbcType=VARCHAR},
      </if>
      <if test="isConcurrent != null">
        #{isConcurrent,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="beanName != null">
        #{beanName,jdbcType=VARCHAR},
      </if>
      <if test="triggerName != null">
        #{triggerName,jdbcType=VARCHAR},
      </if>
      <if test="jobStatus != null">
        #{jobStatus,jdbcType=INTEGER},
      </if>
      <if test="springBean != null">
        #{springBean,jdbcType=VARCHAR},
      </if>
      <if test="jobName != null">
        #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="addUser != null">
        #{addUser,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>