<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.cavy.manage.mapper.MenuResourceMapper">

    <resultMap id="BaseResultMap" type="com.jh.cavy.manage.domain.MenuResource">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="menuId" column="menu_id" jdbcType="BIGINT"/>
            <result property="resourceId" column="resource_id" jdbcType="BIGINT"/>
            <result property="addTime" column="add_time" jdbcType="TIMESTAMP"/>
            <result property="addUser" column="add_user" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,menu_id,resource_id,
        add_time,add_user,update_time,
        update_user
    </sql>
</mapper>
